<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <div class="login-card">
      <h2>Reset Password</h2>
      <p>Enter your new password to continue</p>
      
      <p class="description-text">
        Please enter your new password and confirm it to complete the reset process.
      </p>
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item lines="none" class="login-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password" formControlName="newPassword" placeholder="Enter your new password"></ion-input>
        </ion-item>
        
        <ion-item lines="none" class="login-item">
          <ion-icon name="lock-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm your password"></ion-input>
        </ion-item>
        
        <ion-button expand="block" type="submit" class="login-btn" shape="round" color="primary">
          CHANGE PASSWORD
        </ion-button>
        
        <ion-button expand="block" fill="outline" shape="round" class="ion-margin-top" (click)="cancel()">
          CANCEL
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>