<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <div class="login-card">
      <h2>¡Welcome!</h2>
      <p>Log in to continue</p>
      
      <form (ngSubmit)="onLogin()">
        <ion-item lines="none" class="login-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="stacked" style="color: black;">Email</ion-label>
          <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
        </ion-item>

        <ion-item lines="none" class="login-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked" style="color: black;">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-text class="forgot-password" >
          <a (click)="recuperarCuenta()">Forgot Password?</a>
        </ion-text>


        <ion-button expand="block" type="submit" class="login-btn" shape="round" color="primary">
          Log in
        </ion-button>

        <ion-button expand="block" fill="outline" shape="round" class="ion-margin-top" (click)="volverInicio()">
          Cancel
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>