<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <div class="login-card">
      <h2>Reset Password</h2>
      <p>Enter your email to continue</p>
      
      <p class="description-text">
        We will send a recovery link to your email address so you can reset your password.
      </p>
      
      <form (ngSubmit)="onRecoverPassword()">
        <ion-item lines="none" class="login-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="stacked" style="color: black;">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required placeholder="Enter your email"></ion-input>
        </ion-item>
        
        <ion-text class="forgot-password">
          <a (click)="goBackToLogin()">Sign in</a>
        </ion-text>
        
        <ion-button expand="block" type="submit" class="login-btn" shape="round" color="primary">
          SEND LINK
        </ion-button>
        
        <ion-button expand="block" fill="outline" shape="round" class="ion-margin-top" (click)="cancel()">
          CANCEL
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>